* {box-sizing: border-box;}
html, body {height: auto;}
body { 
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}
h1 {
	color: #fff;
	font: 400 60px/1.416 'Libre Baskerville', serif;
}
h2 {
	color: #313131;
	font: 700 50px/1 'Libre Baskerville', serif;
	margin: 0;
}

h3 {
	font: 500 20px/1 'Poppins', sans-serif;
	margin: 0;
}
p {
	color: #616161;
	font: 400 15px/1.8 'Poppins', sans-serif;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	display: inline-block;
	text-decoration: none;
	}

.content-wrapper {
	max-width: 1140px;
	margin: auto;
}
.left{float:left;}
.right{float:right;}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.dark-background {
	background: #3f4049;
}
.grey-background {
	background: #f7f7f7;
}

.btn {
	border:  2px solid transparent;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	height: 50px;
	width: 180px;
}
.btn.red {
	background-color: #fc5945;
}
.btn.green {
	background-color: #38c695;
}
.btn.blue {
	background-color: #b27cf5;
}
.btn.red:hover,
.btn.green:hover,
.btn.blue:hover{
	background-color: transparent;
}
.btn.red:hover {
	color: #fff;
	border-color: #fc5f45;
}
.btn.green:hover {
	border-color: #38c695;
	color: #38c695;
}
.btn.blue:hover {
	border-color: #b27cf5;
	color: #b27cf5;
}

.head-menu ul {font-size: 0;}
.head-menu li {
	display: inline-block;
	margin-right: 20px;
}
head-menu li:last-child {margin-right: 0;}
.head-menu a {
	color: #272727;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
}
header {
	padding: 24px 0;
}
.welcome-block {
	padding: 160px 0;
	text-align: center;
}
.welcome-block .btn {
	margin-top: 40px;
}
.welcome-block h1 {
	margin: 0 auto;
	max-width: 830px;
}
.features-set {
	font-size:0;
	margin-top: 80px;
}
.features-set li {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	width: 33.33333%;
	position: relative;
	padding-top: 75px;
}

.features-set li:nth-child(1) {color: #38c695}
.features-set li:nth-child(2) {color: #b27cf5}
.features-set li:nth-child(3) {color: #feb960}

.features-set .icon {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	
}
.icon.dollar {
	background: url(../img/icon-$.png) no-repeat;
}
.icon.clock {
	background: url(../img/icon-clock.png) no-repeat;
}
.icon.check {
	background: url(../img/icon-cl.png) no-repeat;
}

.about-block {
	padding: 150px 0;
}

.about-block .content-wrapper {
	position: relative;
}
.portfolio-items {
	width: 33.333333%;
	padding: 0 10px 20px;
}
.about-article {
	position: absolute;
	right:0;
	top: 50%;
	transform: translate(0, -50%);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); 
	background: #fff;
	width: 650px;
	padding: 90px 80px 70px;
}

.about-article:before {
	content:"01";
	color: rgba( 224, 224, 224, 0.3);
	font-height: 1;
	font-weight: 800;
	font-size: 273px;
	position: absolute;
	top: -5px;
	left: -12px;
}

.about-article:after {
	content: '';
	background: url(../img/lines.jpg) no-repeat;
	position: absolute; 
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
}
.about-article .inner-wrapper {position: relative;}
.about-article h2 {margin-bottom: 40px;}
.about-article p {margin-bottom: 30px;}



.numbered-block {
	position: relative;
	padding: 140px 0 150px;
}

.numbered-block:before {
	content: attr(data-number);
	color: rgba(224, 224, 224, 0.3);
	line-height: 1;
	font-size: 273px;
	font-weight: 800;
	position:  absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.numbered-block .content-wrapper {
	position: relative;
}
/*.focus-block h2 {margin-bottom: 30px;}*/
.title-block {margin-bottom: 75px;}
.title-block p  {
	text-align: center;
}
.title-block h2 {
	text-align: center;
	margin-bottom: 40px;
}

.focus-list {
	font-size:0;
	text-align: center;
}
.focus-list li {
	background-color: #fff;
	display: inline-block;
	margin-right: 30px;
	position: relative;
	height: 350px;
	width: 262px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid transparent;
	vertical-align: top;
}

.focus-article {
	position:relative;
	padding: 65px 35px 0;
}

.focus-article .icon {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background: url(../img/icons-sprites.png) no-repeat;
	height: 49px;
	width: 55px;
}
.focus-article .icon.web-des {background-position: 0 0;}
.focus-article .icon.ux-des {background-position: -60px 0;}
.focus-article .icon.photo {background-position: -120px 0;}
.focus-article .icon.app-dev {background-position: -180px 0;}

.focus-article .article-title{
	padding-top: 75px;
	position: relative;
	margin-bottom: 25px;
}
.focus-article h3 {
	color: #313131;
	font: 500 20px/1 'Poppins', sans-serif;
}

.focus-list li:last-child {margin-right: 0;}

.focus-list li:nth-child(1) {border-color: #fc5f45;}
.focus-list li:nth-child(2) {border-color: #38c695;}
.focus-list li:nth-child(3) {border-color: #a27cf5;}
.focus-list li:nth-child(4) {border-color: #feb960;}

.player-block {
	padding: 145px 0;
	text-align: center;
}
.player-block h3{
	color: #fff;
	font: 400 30px "Poppins", sans-serif;
	margin-bottom: 30px;
}

.player-block p {
	color: #fff;
	font-size: 15px;
}
.player-block .btn-holder {
	margin-bottom: 40px;
}


.portfolio-items {
	width: 100%;
	/*margin:0 -10px; - Ser*/
}
.portfolio-items li {
	float: left;
	width: 33.33333%;
	padding: 0 10px 20px;
}
.portfolio-items img {
	width: 100%;
}

.features-set .icon {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
}

.team-list {
	font-size:0;
	text-align: center;
	margin-bottom: 50px;
}
.team-list li {
	background-color: #fff;
	display: inline-block;
	margin-right: 30px;
	position: relative;
	height: 350px;
	width: 262px;
	border: 3px solid transparent;
	vertical-align: top;
}
.team-article {
	position:relative;
	padding: 265px 35px 0;
}

.team-article .icon {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	height: 256px;
	width: 256px;
}

.icon.image5 {
	background: url(../img/image5.png) no-repeat;
}
.icon.image6 {
	background: url(../img/image6.png) no-repeat;
}
.icon.image7 {
	background: url(../img/image7.png) no-repeat;
}
.icon.image8 {
	background: url(../img/image8.png) no-repeat;
}
.team-list li:last-child {margin-right: 0;}

.team-list li:nth-child(1) {border-bottom-color: #fc5f45;}
.team-list li:nth-child(2) {border-bottom-color: #38c695;}
.team-list li:nth-child(3) {border-bottom-color: #a27cf5;}
.team-list li:nth-child(4) {border-bottom-color: #feb960;}

.team-article h3 {
	font: 500 18px/1 'Poppins', sans-serif;
	margin: 15px 0;
}

.team-list li:nth-child(1) h3 {color: #fc5f45;}
.team-list h3:nth-child(2) {color: #38c695;}
.team-list h3:nth-child(3) {color: #a27cf5;}
.team-list h3:nth-child(4) {color: #feb960;}

.team-article p {
	font: 400 13px/1 'Poppins', sans-serif;
}



.article-about {
	
	background-color: #fff;
	/*margin-top: 50px;*/
	padding: 75px 100px;
	/*text-align: left;*/
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.article-about h3 {
	color: #272727;
	margin-bottom: 30px;
	
}

.article-about .inner-content {font-size: 0;}

.article-about .description-part, .article-about .soc-part {
	display: inline-block;
	vertical-align: middle;
}
.article-about .description-part {
	max-width: 815px;
	border-right: 2px solid #efefef;
	padding-right: 175px;
	position: relative;
	width: 100%;
}

.description-part .share-icon {
	/*background: url(../img/icon-con.png) no-repeat;*/
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.article-about .soc-part {
	margin-left: 25px;
}
.article-about .soc-part a {
	color: #616161;
	font: 400 15px/1 'Poppins', sans-serif;
	position: relative;
	padding-left: 20px;
}

.article-about .soc-part li {
	margin-bottom: 15px;
}

.article-about .soc-part li:last-child {
	margin-bottom: 0;
}

.article-about .soc-part .fa {
	color: inherit;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 15px;
	
}






.statistic-block {
	/*height: 465px;*/
	background: url(../img/coffee.jpg) no-repeat 50%/cover;
	/*text-align: center;*/
	padding: 140px 120px;
}
/*.statistic-block .content-wrapper {
	padding: 165px 0 125px;
	display: inline-block;
}*/

.statistic-block ul {
	margin: 0 -15px;
}
/*.statistic {
	font-size:0;
	text-align: center
}*/
.statistic-block li {
	/*background-color: transparent;
	display: inline-block;
	margin-right: 30px;
	position: relative;
	height: 350px;*/
	width: 25%;
	text-align: center;
	/*vertical-align: top;
	color: #fff;*/
	float: left;
	padding: 0 15px;
	
}

.statistic-block h3 {
	color: #fefefe;
	margin-bottom: 25px;
	padding-top: 75px;
}
 .statistic-block p {
	 color: rgba(254, 254, 254, 0.7);
	 margin-bottom: 25px;
 }
/*.icon.statistic {
	background: url(../img/icon-statistic.png) no-repeat;
}*/
.statistic-block .projects h3 {
	background:url(../img/icon-statistic.png) no-repeat 50% 0;
}
.statistic-block .clients h3 {
	background:url(../img/icon-client.png) no-repeat 50% 0;
}
.statistic-block .feedbacks h3 {
	background:url(../img/icon-heart.png) no-repeat 50% 0;
}
.statistic-block .releases h3 {
	background:url(../img/icon-present.png) no-repeat 50% 0;
}

.statistic-block .circle {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 16px;
	width: 16px;
	position: relative;
}

.statistic-block .circle:before {
	content: "";
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 7px;
	height: 7px;
}

.statistic-block .projects .circle {
	border-color: #fc5f45;
}
.statistic-block .projects .circle:before {
	background-color: #fc5f45;
}

.statistic-block .clients .circle {
	border-color: #38c695;
}
.statistic-block .clients .circle:before {
	background-color: #38c695;
}

.statistic-block .feedbacks .circle {
	border-color: #b27cf5;
}
.statistic-block .feedbacks .circle:before {
	background-color: #b27cf5;
}

.statistic-block .releases .circle {
	border-color: #feb960;
}
.statistic-block .releases .circle:before {
	background-color: #feb960;
}











